<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/subs.css">
<link rel="stylesheet" href="/css/side-navigation.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <div class="blog-section__container">
            <div class="blog-posts__container">
                <div class="subs-container">
                    <h1>My followers</h1>
                    <% if (followers) { %>
                        <% for (let u of followers) { %>
                            <a class="profile-link" href="/profile/<%= u._id %>">
                                <div class="sub-container">
                                    <div class="sub-pres__container">
                                        <div class="image-container" style="background-image: url('/images/<%= u.imageUrl %>')"></div>
                                    </div>
                                    <h2><%= u.name %></h2>
                                </div>
                            </a>
                        <% } %>
                    <% } else { %>
                        <div class="sub-container">
                            <div>You don't have any followers yet.</div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="side-navigation__container">
            <%- include('../includes/side-navigation.ejs') %>
        </div>
    </main>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>