<header>
    <div class="desktop-header">
        <div class="left-box__header">
            <h1>Quikblogger</h1>
            <form action="/search" method="post" style="display: flex; align-items: center;">
                <input type="search" name="search" id="search" placeholder="Search for user here">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <button type="submit">
                    <i id="searchButton" class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <nav>
            <ul>
                <% if (!user) { %>
                <li><a href="/">Home</a></li>
                <li><a href="/registration">Register</a></li>
                <li><a href="/login">Login</a></li>
                <% } %>
                <% if (user) { %>
                <li><a href="/profile/<%= user._id %>">Profile</a></li>
                <li><a href="/add-post">Add new post</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
    <div class="mobile-header">
        <div class="left-box__header">
            <h1>Quikblogger</h1>
        </div>
        <div id="toggle-icon" class="toggle-icon__container">
            <label for="toggle">&#9776;</label>
            <input type="checkbox" name="toggle" class="toggle">
        </div>
        <div id="new-toggle" class="toggle-icon__container">
            <label for="toggle">&#9776;</label>
            <input type="checkbox" name="toggle" class="toggle">
        </div>
    </div>
    <nav class="mobile-nav" id="mobile-nav">
        <ul>
            <% if (!user) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Register</a></li>
            <li><a href="/login">Login</a></li>
            <% } %>
            <% if (user) { %>
                <li><a href="/feed">Feed</a></li>
                <li><a href="/add-post">Add new post</a></li>
                <li><a href="/latest-posts">Latest posts</a></li>
                <li><a href="/followers/<%= user._id %>">My followers</a></li>
                <li><a href="/subscriptions/<%= user._id %>">Subscriptions</a></li>
                <li><a href="/profile/<%= user._id %>">Profile</a></li>
                <li><a href="/edit-user/<%= user._id %>">Edit profile</a></li>
                <li><a href="/logout">Logout</a></li>
                <li>
                    <form action="/search" method="post" style="display: flex; align-items: center;">
                        <input class="mobile-search" type="search" name="search" id="search" placeholder="Search for users here">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <button class="mobile-search__button" type="submit">
                            <i id="searchButton" class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>