<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/side-navigation.css">
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <div class="blog-section__container">
            <div class="colored-container"></div>
            <div class="user-presentation__for-post">
                <a class="user-image__link" href="/profile/<%= profileUser._id %>">
                    <div class="userImage__for-post" style="background-image: url('<%= profileUser.imageUrl %>')"></div>
                </a>
                <div class="post-details__text-container">
                    <h2><%= post.header %></h2>
                    <h3 class="post__time-stamp"><%= post.timeStamp %></h3>
                    <p class="post__author-name">by: <%= profileUser.name %></p>
                </div>
                <% if (user._id == post.postId) { %>
                    <div class="edit-post__form">
                        <a style="margin-top: 3px" href="/edit-post/<%= post._id %>" method="POST">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </div>
                <% } %>
            </div>
            <div class="post-content__container">
                <div class="social-icons__container">
                    <a href="/posts/<%= post._id %>"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="/posts/<%= post._id %>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="/posts/<%= post._id %>"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                <%- post.content %>
                <% if (!user) { %>
                <hr>
                <p class="loginToComment">Sign in to comment on this post</p>
                <% } %>
            </div>
        </div>
        <div class="side-navigation__container">
            <%- include('../includes/side-navigation.ejs') %>
        </div>
    </main>
</body>
</html>

<script>
    // let hiddenStuff = document.querySelector('.ql-tooltip');
    // hiddenStuff.style.display = 'none';
    // let hiddenStuffTwo = document.querySelector('.ql-clipboard');
    // hiddenStuffTwo.style.display = 'none';
    // let qlEditor = document.querySelector('.ql-editor');
    // qlEditor.setAttribute('contenteditable', 'false');
    // hiddenStuffTwo.setAttribute('contenteditable', 'false');
    // qlEditor.classList.remove('ql-editor');
    // hiddenStuffTwo.classList.remove('ql-clipboard');
</script>