<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <div class="registration-page__container">
            <form action="/add-user" method="POST" enctype="multipart/form-data">
                <h2>Register</h2>
                <div>
                    <% if (validationErrors) { %>
                        <% for (let error of validationErrors) { %>
                            <p>- <%= error %></p>
                        <% } %>
                    <% } %>
                </div>
                <div class="input-container">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Enter your name">
                </div>
                <div class="input-container">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="email" name="email" placeholder="Enter your email">
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" name="password" placeholder="Choose a password">
                </div>
                <div class="input-container">
                    <label for="pwconfirm">Confirm password</label>
                    <input id="pwconfirm" class="form-control" type="password" name="pwconfirm" placeholder="Enter your password again">
                </div>
                <div class="input-container">
                    <label for="imageUrl">Image</label>
                    <input class="form-control" type="file" name="image" id="image">
                </div>
                <div class="input-container">
                    <label for="name">Description</label>
                    <textarea name="description" id="description" placeholder="Describe yourself"></textarea>
                </div>
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <button class="btnRegistration btn" type="submit">Register now</button>
            </form>
        </div>
    </main>
    <%- include('../includes/scripts.ejs') %>
    <script src="/js/pwconfirm.js"></script>
</body>
</html>